In [14]:
import pandas as pd
data={
    'Size of house(sq.ft.)':[1500,2000,2500,3000,4000,5000,5500],
    'Price(in USD)':[250000,50000,60000,45000,700000,66000,320000],
    'Gender':['Male','Female','Female','Male','Male','Female','Male'],
    'occupation':['Farmer','Engineer','lawyer','doctor','nurse','teacher','driver'],
    'Age':[30,45,29,56,25,67,40],
    'Type of house':['Apartment','house','condo','house','TownHouse','house','individual house'],
    'Number of rooms':[2,3,3,2,3,4,2]
    }
df=pd.DataFrame(data)
df['Type of house'] = df['Type of house'].map({
    'Apartment':'Flat',
    'house':'individual house',
    'condo':'flat',
    'TownHouse':'Individual House'
    })
df['price(in USD)']=df['Price(in USD)']/10
df=df[df['Price(in USD)']>100000]
print(df)

   Size of house(sq.ft.)  Price(in USD) Gender occupation  Age  \
0                   1500         250000   Male     Farmer   30
4                   4000         700000   Male      nurse   25
6                   5500         320000   Male     driver   40

      Type of house  Number of rooms  price(in USD)
0              Flat                2        25000.0
4  Individual House                3        70000.0
6               NaN                2        32000.0

In [38]:
import pandas as pd
str='abcdaaba'
alphabet_count={char:str.count(char)for char in set(str)}
count_df=pd.DataFrame(list(alphabet_count.items()),columns=['alphabet','count'])
pivot_df=count_df.pivot(index=None,columns='alphabet',values='count').fillna(0)
melted_df=pivot_df.reset_index().melt(id_vars=None,var_name='alphabet',value_name='count')
count_df['new_column']=melted_df['count'] * 2
print(melted_df)

   alphabet  count
0     index    0.0
1     index    1.0
2     index    2.0
3     index    3.0
4         a    0.0
5         a    4.0
6         a    0.0
7         a    0.0
8         b    2.0
9         b    0.0
10        b    0.0
11        b    0.0
12        c    0.0
13        c    0.0
14        c    0.0
15        c    1.0
16        d    0.0
17        d    0.0
18        d    1.0
19        d    0.0

In [39]:
import pandas as pd
str='abcdaaba'
alphabet_count={char:str.count(char)for char in set(str)}
count_df=pd.DataFrame(list(alphabet_count.items()),columns=['alphabet','count'])
count_df['new_column']=count_df['count'] * 2
print(count_df)

  alphabet  count  new_column
0        b      2           4
1        a      4           8
2        d      1           2
3        c      1           2

In [1]:
import pandas as pd
import numpy as np
string_new = 'abcababcbdacdabddceabecdeba'
print(string_new)
list1 = list(string_new)
# Get count occurrence of all values
#from collections import Counter
#count = Counter(list1)
#print(count)
series_count = pd.Series(list1).value_counts()
print(series_count)
print(series_count.to_dict())
new_dict = {'char':series_count.to_dict().keys(),
            'freq':series_count.to_dict().values()}
df = pd.DataFrame(new_dict)
print(df)

abcababcbdacdabddceabecdeba
a    7
b    7
c    5
d    5
e    3
dtype: int64
{'a': 7, 'b': 7, 'c': 5, 'd': 5, 'e': 3}
  char  freq
0    a     7
1    b     7
2    c     5
3    d     5
4    e     3